$mainBgColor: #f4f7fa; //背景色
$menuBgColor: #e9ecf0;
$menuTextColor: #555555;
$menuActiveTextColor: #555555;
$itemHeaderColor: #22303E;
$itemIntroColor: #7A939E;
$itemContentHeaderColor: #666666;
$whiteColor: #fff;
$primaryColor: #07b5f9; //主体颜色
$primaryBorderColor: #39b3ef; //主题颜色对应边框色
$tableHeaderColor: #e5f0fa; //表头
$inProgressColor: #00CC00;
$pauseColor: #EA5200;
$unBeginColor: #E5A80E;
$finishedColor: #f61515;
$buttonBlackColor: #4f677e;
$buttonBlackHoverColor: #556b80;
$buttonBlueHoverColor: #2e8ace;
$buttonBlueHoverBgColor: #ebf5fc;
$splitLineColor: #e2e2e2;
$avatarBorderColor: #8c939d;
$noteGray: #CCCCCC;
$dialogFooterColor: #f5f5f5;
$customBorderColor: #b4bccc;
$buttonHoverColor: #d9edf9;
$commonHeaderColor: #333333;